version: "3.9"

services:
  github-runner-fast:
    image: {{ factory_github_runner_image }}
    restart: unless-stopped
    environment:
      REPO_URL: ${GITHUB_RUNNER_REPO_URL}
      ACCESS_TOKEN: ${GITHUB_RUNNER_ACCESS_TOKEN}
      RUNNER_NAME: yamiochi-factory-fast
      RUNNER_SCOPE: repo
      RUN_AS_ROOT: "true"
      LABELS: self-hosted,linux,x64,factory-fast
      DISABLE_AUTO_UPDATE: "1"
      EPHEMERAL: "1"
      RUNNER_WORKDIR: /tmp/github-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - github-runner-fast-data:/tmp/github-runner
    network_mode: host
    cpus: {{ factory_resources.github_runner_fast.cpus | to_json }}
    mem_limit: {{ factory_resources.github_runner_fast.mem_limit }}

  github-runner-heavy:
    image: {{ factory_github_runner_image }}
    restart: unless-stopped
    environment:
      REPO_URL: ${GITHUB_RUNNER_REPO_URL}
      ACCESS_TOKEN: ${GITHUB_RUNNER_ACCESS_TOKEN}
      RUNNER_NAME: yamiochi-factory-heavy
      RUNNER_SCOPE: repo
      RUN_AS_ROOT: "true"
      LABELS: self-hosted,linux,x64,factory-heavy
      DISABLE_AUTO_UPDATE: "1"
      EPHEMERAL: "1"
      RUNNER_WORKDIR: /tmp/github-runner
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - github-runner-heavy-data:/tmp/github-runner
    network_mode: host
    cpus: {{ factory_resources.github_runner_heavy.cpus | to_json }}
    mem_limit: {{ factory_resources.github_runner_heavy.mem_limit }}

volumes:
  github-runner-fast-data:
  github-runner-heavy-data:
