FABRO_DEV_TOKEN={{ lookup('password', playbook_dir ~ '/../.secrets/generated/fabro_dev_token chars=hexdigits length=64') | lower | regex_replace('^', 'fabro_dev_') }}
OPENAI_API_KEY={{ factory_local_env.OPENAI_API_KEY }}
GITHUB_TOKEN={{ factory_local_env.GITHUB_TOKEN }}
GITHUB_APP_CLIENT_SECRET={{ factory_local_env.GITHUB_APP_CLIENT_SECRET }}
GITHUB_APP_WEBHOOK_SECRET={{ factory_local_env.GITHUB_APP_WEBHOOK_SECRET }}
GITHUB_APP_PRIVATE_KEY={{ factory_local_env.GITHUB_APP_PRIVATE_KEY }}
