[providers.op]
type = "1password"
account = "thespeedshop.1password.com"
vault = "Employee"

[secrets]
REPO_URL = { default = "https://github.com/nateberkopec/yamiochi.git" }
REPO_REF = { default = "main" }
MODEL_PROVIDER = { default = "openai" }
MODEL_NAME = { default = "gpt-5.4" }
FABRO_DOMAIN = { default = "fabro-hooks.speedshop.co" }
TAILSCALE_AUTH_KEY = { provider = "op", value = "op://Employee/Tailscale Auth Key/password" }
GITHUB_RUNNER_REPO_URL = { default = "https://github.com/nateberkopec/yamiochi" }
GITHUB_APP_ID = { default = "3473890" }
GITHUB_APP_CLIENT_ID = { default = "Iv23limou6Y3ymBMg9C1" }
GITHUB_APP_SLUG = { default = "yamiochi-factory" }
GITHUB_APP_CLIENT_SECRET = { provider = "op", value = "op://Employee/Yamiochi Github App/client_secret" }
GITHUB_APP_WEBHOOK_SECRET = { provider = "op", value = "op://Employee/Yamiochi Github App/webhook_secret" }
GITHUB_APP_PRIVATE_KEY = { provider = "op", value = "op://Employee/Yamiochi Github App/yamiochi-factory.2026-04-22.private-key.pem" }
GITHUB_TOKEN = { provider = "op", value = "op://Employee/Github/do everything Classic" }
GITHUB_RUNNER_ACCESS_TOKEN = { provider = "op", value = "op://Employee/Github/do everything Classic" }
OPENAI_API_KEY = { provider = "op", value = "op://Employee/Yamiochi OpenAI Key/password" }
